*{
  margin: 0px;
  padding: 0px;
}
header{
  width: 100%;
  position: relative;
  height: 100px;
  background-color: rgb(36, 35, 35);
  border-bottom: 3px solid greenyellow;
}
body{
  background-color: black;
}
#boxSearch{
  position: absolute;
  right: 300px;
  width: 300px;
}
#search{
  margin-top: 50px;
  width: 0%;
  height: 30px;
  background-color: rgb(10, 10, 10);
  border: none;
  color: white;
  outline: none;
  transition: all 0.2s;
  font-size: 15px;
}
#btnSearch{
  width: 50px;
  height: 30px;
  margin-left: -5px;
  background-color: rgb(36, 35, 35);
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
header ul a{
  display: inline-block;
  margin-top: 50px;
  margin-left: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:400;
  cursor: pointer;
}
header ul{
  margin-left: 600px;
  font-size: 20px;
  color: rgb(156, 153, 153);
  transition: 0.2s;
}
header ul a{
  font-size: 20px;
  color: rgb(156, 153, 153);
  text-decoration: none;
}

#btnMenu{
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: 50px;
  font-size: 20px;
  background-color: rgb(36, 35, 35);
  border: none;
  color: rgb(156, 153, 153);
  display: none;
  cursor: pointer;
}

#menu{
  position: absolute;
  width: 250px;
  height: 500px;
  margin-top: 20px;
  margin-left: -255px;
  background-color: rgb(36, 35, 35);
  border-radius: 0px 10px  10px 0px;
  transition: all 0.2s;
  display: none;
  border-right: 3px solid greenyellow;
}
#menu ul{
  margin-left: 20px;
}
#menu a{
  margin-top: 50px;
  display: block;
  font-size: 20px;
  text-decoration: none;
  color:rgb(156, 153, 153);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:400;
}
ul a i{
  color: greenyellow;
}

#menu a:hover{
  color: rgb(238, 236, 236);
}



a:hover{
  color: rgb(238, 236, 236);
}
#btnMenu:hover{
  color: rgb(238, 236, 236);
}
@media screen and (max-width:1622px) {
  header ul{
    margin-left: 400px;
  }
}
@media screen and (max-width:1418px) {
  header ul{
    margin-left: 300px;
  }
}
@media screen and (max-width:1316px) {
  header ul{
    margin-left: 250px;
  }
}
@media screen and (max-width:1252px) {
  
    #btnMenu{
      display: inline-block;
    }
    header ul{
      display: none;
    }
    #boxSearch{
      right: 150px;
    }
    #menu{
      display: block;
    }

}
@media screen and (max-width:849px){
  #boxSearch{
    display: none;
  }
}